@import "styles/variables";

.buttonBg {
    width: 20%;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    cursor: pointer;
    .btnContainer {
        @include centered();
        width: 100%;
        height: 100%;
        .linkButton {
            width: 100%;
            height: 25%;
            padding: 12px;
            font-size: 1.2rem;
            margin-bottom: 3%;
            background-color: $petshop-orange;
            color: white;
            border: none;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                background-color: $petshop-orange-light;
                opacity: 0.8;
            }
        }
    }
}